body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: #494F7C;
  line-height: 1.46;
}

@media (min-width: 1400px) {
  body {
   font-size: 18px;
  }
}

img {
  max-width: 100%;
}


h1, h2, h3, h4, h6,
.h1, .h2, .h3, .h4, .h6 {
  color: #0C1451;
}

h5,
.h5 {
  color: #FE9B8E;
}

p,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  color: #0C1451;
}

h1,
.h1 {
  font-size: 80px;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 110%;
}

h3,
.h3 {
  font-size: 50px;
  line-height: 110%;
}

h4,
.h4 {
  font-size: 32px;
  line-height: 116%;
}

h5,
.h5 {
  font-size: 26px;
  line-height: 146%;
  color: #FE9B8E;
}

h6,
.h6 {
  font-size: 22px;
  line-height: 146%;
}

.big {
  font-size: 22px;
  line-height: 1.46;
}

.text-secondary{
  color: #FE9B8E!important;
}

hr{
  border:3px solid #0B1455;
}

ul{
    list-style: none;
}

/* forms */
textarea{
    resize:none;
}

/*popup style*/
.col-form-label{
  padding-left: calc(0.375rem + 1px);
}

/* Sections */
.section-xs {
  padding: 30px 0; 
}

.section-md {
  padding: 100px 0;
}

/* Container Size */
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }

  .row {
    margin-left: -25px;
    margin-right: -25px;
  }

  [class*='col-'] {
    padding-left: 25px;
    padding-right: 25px;
  }
}


/* Context */
.context-dark,
.context-dark h1, .context-dark h2, .context-dark h3, .context-dark h4, .context-dark h5, .context-dark h6,
.context-dark .h1, .context-dark .h2, .context-dark .h3, .context-dark .h4, .context-dark .h5, .context-dark .h6 {
  color: #fff;
} 


/* Backgrounds */
.bg-primary {
  background-color: #0C1451 !important;
}

.bg-primary-light {
  background-color: #0B1455;
}

.bg-secondary {
  background-color: #FE9B8E !important;
}

.bg-secondary-light {
  background-color: #FEEBE8;
}

.bg-text-color {
  background-color: #494F7C;
}


/* Offsets */
* + p {
  margin-top: 30px;
}

* + .big {
  margin-top: 40px;
}

* + h1,
* + .h1 {
  margin-top: 20px;
}

* + h2,
* + .h2 {
  margin-top: 20px;
}

* + h3,
* + .h3 {
  margin-top: 20px;
}

* + h4,
* + .h4 {
  margin-top: 20px;
}

* + h5,
* + .h5 {
  margin-top: 20px;
}

* + h6,
* + .h6 {
  margin-top: 14px;
}

* + .row {
  margin-top: 60px;
}


/* Spacing */
.row-30 {
  margin-bottom: -30px;
}

.row-30 > [class*='col-'] {
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .row-xxl-50 {
    margin-bottom: -50px;
  }
  
  .row-xxl-50 > [class*='col-'] {
    margin-bottom: 50px;
  }
}


/* Buttons */
.btn {
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.2;
  padding: 23px 50px;
  font-weight: 700;
  border: 0;
  box-shadow: 6px 10px 16px rgba(11, 20, 85, 0.12);
}

.btn-sm {
  font-size: 18px;
  padding: 16px 25px;
}

.btn-md{
    font-size: 20px;
    padding:22px 45px;
    background: #FE9B8E;
    box-shadow: 6px 10px 16px rgba(11, 20, 85, 0.12);
    border-radius: 8px;
}

.btn-lg {
  padding: 27px 65px;
  font-size: 22px;
}

.btn-primary {
  background-color: #0B1455;
}

.btn-secondary , .header-btn{
  color:#fff;  
  background-color: #FE9B8E;
}

.btn-white {
  background-color: #fff;
}

.btn-white:hover {
  background-color: grey;
  color: white;
}

.group-50 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -50px;
  margin-bottom: -50px;
}

* + .group-50 {
  margin-top: 60px;
}

.group-50 > * {
  margin-left: 50px;
  margin-bottom: 50px;
}

h3+.group-50 {
  margin-top: 30px;
}

/* Box Colors */
.box-color {
  padding-bottom: 100%;
}


/* Header */
.navbar-brand img {
  width: 215px;
  height: auto;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link{
    font-size: 18px;
    color: #0C1451;
    transition:500ms all ease;
}

.nav-item a{
    margin:0 15px;
}

.nav-link:hover{
    color: #FE9B8E;
}

/* Sections */
/* Intro */ 
.section-intro {
  display: flex;
  align-items: center;
  background-image: url("./../images/home-01.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: calc(100VH - 82px);
  padding: 150px 0;
}

/* Tel */
.tel {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.1;
  color: #0C1451;
}

.tel a {
  color: inherit;
}

* + .tel {
  margin-top: 94px;
}

.tel + p {
  margin-top: 24px;
}

/* testimonials */
.wrapp_review{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapp_review > * + *{
  margin-left: 10px;
}


* + .wrapp_review{
  margin-top: 36px;
}

.testimonials{
  box-shadow: 0px 14px 20px rgba(11, 20, 85, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding:60px 60px 55px 70px;
  text-align: left;
}

.testimonials_head{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

* + .testimonials_txt{
  margin-top: 34px;
}

* + .testimonials_author{
  margin-top: 44px;
}

/*spa-service*/

* + .btn-primary , .btn-secondary{
  margin-top: 50px;
}

/* choose_massage */
.massage_service{
  --webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.circle_icon{
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  fill:#FE9B8E; 
  border-radius:50%;
  width: 90px;
  height: 90px;
  background-color: #FFF1EF;
}

.massage_service .big{
  margin-top: 15px;
}

/* price_plane */
.price_plane{
  background-image: url('../images/price_bg.png');
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* info_section */

.card{
  border:0;
  border-radius:0;
}

.card-header{
  background-color:transparent;
  border-bottom: 1px solid #E9EAEF: 
}

.card-header .btn{
  border-radius: 0px;
  font-size: 22px;
  color:#0C1451;
  line-height: 1.2;
  padding: 38px 0 38px 0;
  font-weight: 500;
  text-decoration: none;
  border: 0;
  box-shadow: none;

}

.btn-link:hover{
    color:#FE9B8E;
}

/* card_block */
.card_block{
    text-align: center;
}

.wrapp_card{
    color:#0B1455;
    text-align: center;
    padding: 50px 45px;
    background: #FFFFFF;
    box-shadow: 0px 14px 20px rgba(11, 20, 85, 0.1);
    border-radius: 8px;
    transition:all 500ms ease;
}

.wrapp_card:hover{
    transform:scale(1.02);
    transition:all 500ms ease;
    background: #FEEBE8;
}

/* team_section */

.team_txt{
    margin-bottom: 130px;
}

/* footer */

footer{
    background-color:#0B1455;
    padding:90px 0;
    color:#fff;
}

 footer span{
    color:#fff;
}

footer h6{
    color:#fff;
}

.conection{
    padding-bottom: 50px;
    border-bottom:3px solid  #3C4377; 
}

.conection a{
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 110%;
    color:#fff;
}

.conection .btn:hover{
    color:#fff;
    background-color: #000;
}

.conection span{
    margin-left: 10px;
}


.conection .btn-sm{
    margin-left: 20px;
    background: #FFFFFF;
    box-shadow: 6px 10px 16px rgba(11, 20, 85, 0.12);
    border-radius: 8px;
    font-size: 18px;
    color: #0C1451;
}

.foot_links{
    padding-left: 0;
    margin-bottom: 50px;
    
}

.foot_links a{
   color: #fff; 
}

.foot_links a:hover{
    color: #FE9B8E;
}

.foot_links li:not(:last-child){
    margin:20px 0 10px 0;
}

.ballons_block img{
    margin-bottom: 30px;
}

.date{
   font-weight: normal;
   font-size: 14px;
   line-height: 200%; 
   color: #A5AAD3;
}

.wrapp_privicy{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    border-top:3px solid #3C4377;
    padding-top: 50px;
}

.social_icons li{
    display: inline-block;
    fill:#A5AAD3;
}

.social_icons li:not(:last-child){
    margin-right: 30px;
}

/*carousel-styles*/
.next_arrow{
  font-size: 40px;
  color:#000;
  font-weight: bold;
}